<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form [formGroup]="addAccountNameForm" (ngSubmit)="onSubmit()" name="addAccountNameForm">

        <div class="form-group">
          <label for="accountName">Account Name</label>
          <input type="text" formControlName="accountName" id="accountName" [(ngModel)]="mappedAccount.name" 
          class="form-control" name="accountName">
          <span 
          *ngIf="!addAccountNameForm.get('accountName').valid && addAccountNameForm.get('accountName').touched"
          class="help-block">
          Account Name is Required
          </span>
          <span *ngIf="!nameExist" class="help-block">
            Name already Exist! 
            </span>
             

        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>

          <select [(ngModel)]="mappedAccount.phoneNumber" formControlName="phoneNumber"  >
           
            <option *ngFor="let p of phones" value={{p}}>
              {{p}}
            </option>
          </select>


          
        </div>
        <button class="btn btn-primary" [disabled]="!addAccountNameForm.valid">Add</button>

      </form> 

    </div>
  </div>
</div>