<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Workout Angular.
  </h1>
 <!-- <app-account-list></app-account-list> -->
 <router-outlet></router-outlet>
</div>