<p>
  account-list works!
</p>

<div *ngIf="accountsResponse.length > 0 then showList else showMsg"></div>
<ng-template #showList>

<div *ngFor="let a of accountsResponse " style="width: 300px;">

  {{a.name}} -- {{a.phoneNumber}}
</div>
<a routerLink="/createAccount" class="btn btn-primary active" role="button" routerLinkActive="active">Add New</a>
</ng-template>

<ng-template #showMsg>
  <div>
    <p>You do not have Integration Yet , Crete a new one ..</p>
    <a routerLink="/createAccount" class="btn btn-primary active" role="button" routerLinkActive="active">Add New</a>
  </div>
</ng-template>