<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
     
          <form [formGroup]="addAccountForm" (ngSubmit)="onSubmit()" name="addAccountForm">
          
            <div class="form-group">
              <label for="connectionId">Connection ID</label>
              <input type="text" formControlName="connectionId"  (click)="touchTheBox($event) "  id="connectionId" [(ngModel)]="ac.connectionId"  class="form-control" name="connectionId">
               <span 
               *ngIf="!addAccountForm.get('connectionId').valid && addAccountForm.get('connectionId').touched"
               class="help-block">
               Connection ID is Required
               </span>
               
               <span *ngIf="!returnAccount && buttonClicked" class="help-block">
               Connection Id is Not Valid 
               </span>
                
            </div>
            <div class="form-group">
              <label for="secretKey">Secret Key</label>
              <input type="text" id="secretKey" class="form-control" formControlName="secretKey" [(ngModel)]="ac.secretKey" name="secretKey" >
              <span 
               *ngIf="!addAccountForm.get('secretKey').valid && addAccountForm.get('secretKey').touched"
                 class="help-block">
               Secret Key is Required
               </span>
            </div>
            <button class="btn btn-primary"  [disabled]="!addAccountForm.valid">Connect</button>
        
        </form>
      
    </div>
  </div>
</div>